<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>StringsTable</key>
	<string>Root</string>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Badge</string>
			<key>Key</key>
			<string>Badge</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Justify Article</string>
			<key>Key</key>
			<string>justifyArticle</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>Analytics Enabled</string>
			<key>Key</key>
			<string>analytics_enabled_preference</string>
			<key>DefaultValue</key>
			<true/>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSMultiValueSpecifier</string>
			<key>Titles</key>
			<array>
				<string>All articles</string>
				<string>Read articles</string>
				<string>Starred articles</string>
				<string>Unread articles</string>
			</array>
			<key>Title</key>
			<string>Mode</string>
			<key>Key</key>
			<string>defaultMode</string>
			<key>DefaultValue</key>
			<string>allArticles</string>
			<key>Values</key>
			<array>
				<string>allArticles</string>
				<string>archivedArticles</string>
				<string>starredArticles</string>
				<string>unarchivedArticles</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
