
body {
    color: #a0a0a0;
    background: #3c3c3c;
}

::selection {
    color: #a0a0a0;
    background: #111111;
}

p, li {
    color: #a0a0a0;
}

a {
    color: #137fb3;
}

blockquote {
    background: #333;
}
