
body {
    color: #404040;
    background: #f6efdc;
}

::selection {
    color: #404040;
    background: #137fb3;
}

p, li {
    color: #404040;
}

a {
    color: #137fb3;
}

blockquote {
    background: #ddd7c6;
}
