// Generated using xcconfig-extractor 0.4.0 by Toshihiro Suzuki - https://github.com/toshi0383/xcconfig-extractor
ALWAYS_EMBED_SWIFT_STANDARD_LIBRARIES = $(inherited)
CLANG_ENABLE_MODULES = YES
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/Frameworks
CODE_SIGN_ENTITLEMENTS = wallabag/wallabag.entitlements
ASSETCATALOG_COMPILER_APPICON_NAME = AppIcon
VERSIONING_SYSTEM = apple-generic
INFOPLIST_FILE = wallabag/Info.plist
SWIFT_OBJC_BRIDGING_HEADER = wallabag/Lib/wallabag-Bridging-Header.h
PRODUCT_BUNDLE_IDENTIFIER = fr.district-web.wallabag