name: Swift

on: [push, pull_request]
  
jobs:
  build:

    runs-on: macos-latest
    strategy:
        matrix:
          destination: ['platform=iOS Simulator,OS=13.6,name=iPhone 11']    

    steps:
    - uses: actions/checkout@v2

    - name: Run lint
      run: |
        brew install swiftformat
        swiftformat --lint .

    - name: Run tests
      run: xcodebuild clean test -scheme wallabag -destination "${destination}" -testPlan wallabag CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO ONLY_ACTIVE_ARCH=NO | xcpretty && exit ${PIPESTATUS[0]}
      env: 
         destination: ${{ matrix.destination }}
